[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sarp.snowprofile"]
	path = sarp.snowprofile
	url = https://github.com/cran/sarp.snowprofile
